cffi==1.5.2
cryptography==1.2.3
DateTime==4.0.1
Django==1.10.2
django-cors-headers==1.1.0
django-filter==0.15.2
django-pusherable==0.1.0
djangorestframework==3.4.7
djangorestframework-jsonapi==2.0.1
djangorestframework-jwt==1.8.0
gripcontrol==2.4.2
idna==2.0
inflection==0.3.1
ndg-httpsclient==0.4.0
psycopg2==2.6.1
pubcontrol==2.2.7
pusher==1.2.3
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
PyJWT==1.4.2
pyOpenSSL==0.15.1
python-dateutil==2.5.2
pytz==2015.7
requests==2.9.1
rest-framework-auth0==0.1.5
six==1.10.0
urllib3==1.14
zope.interface==4.1.3
django-cors-headers==1.3.1
